/* src/styles/author.css */

/* Normal Weight Variable */
@font-face {
  font-family: 'Author'; 
  src: url('/fonts/author/WEB/fonts/Author-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

/* Italic Variable */
@font-face {
  font-family: 'Author';
  src: url('/fonts/author/WEB/fonts/Author-VariableItalic.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}