/* Basic container styling for Sonner toasts */
.sonner_toast {
  background: #09090b !important;
  border: 1px solid #27272a !important;
  font-family: monospace !important;
  text-transform: uppercase !important;
}
.sonner_toast .sonner_title {
  font-weight: 700 !important;
}
.sonner_toast .sonner_description {
  text-transform: none !important;
  color: #e6e6e6 !important;
  font-weight: 400 !important;
}
